PORT=3005
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=postgres
CLIENT_HOST=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
JWT_KEY=
JWT_REFRESH_KEY=

